
.main {
	width: 100vw;
	min-height: 100vh;
	padding-bottom: 5vh;
	background-color: #343a40;
}

.posterSeriesWatch {
	width: 15vw;
	border-radius: 4px;
}


.description {
	font-weight: 300;
	font-size: 19px;
  }
  .next {
	font-weight: 300;
	font-size: 17px;
	color: whitesmoke;
  }

.name {
	font-weight: 600;
	font-size: 22px;
	color: white;
	margin-bottom: 2%;
  }

.textContainer {
	display: flex;
	flex-direction: column;
	justify-content: center;
	margin-left: 2vw;
}

.SerieWatchContainer {
	display: flex;
	flex-direction: row;
	align-items: center;
	margin-top: 3%;
	margin-right: 5vw;
	margin-left: 5vw;
}